<mat-toolbar>
    <a [routerLink]="['/']"><span>Full Stack Assignment 2 (Safa)</span></a>
 
    <div class="navbar"></div>
    <a *ngIf="isAdmin" mat-button [routerLink]="['/admin']">Admin Panel</a>
    <a *ngIf="isLoggedIn" mat-button [routerLink]="['/my_bookings']">My Bookings</a>
    <a *ngIf="isLoggedIn" mat-button [routerLink]="['/logout']">Logout</a>
    <a *ngIf="!isLoggedIn" mat-button [routerLink]="['/login']">Log In</a>
    <a *ngIf="!isLoggedIn" mat-button [routerLink]="['/signup']">Sign Up</a>
</mat-toolbar>