<!doctype html>
<html lang="en">
<head>
</head>
<body>
<app-navbar></app-navbar>

<h1>Book</h1>
      <div>
      <hr>
      </div>
      <br>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
  <div class="book">
  <h1>Booking {{ listing_id }}</h1>
  <mat-form-field>
    Booking ID:
          <input matInput formControlName="booking_id"  required>
  </mat-form-field>
  <mat-form-field>
    Booking start:
          <input matInput type="date" formControlName="booking_start" required>
  </mat-form-field>
  <mat-form-field>
    Booking End:
          <input matInput type="date" formControlName="booking_end" required>
  </mat-form-field>

    <button type="submit">Submit</button>
  </div>
</form>
</body>
</html>

