<!doctype html>
<html lang="en">
<head>
</head>
<body>
<app-navbar></app-navbar>
<div class="home">
<h1>Toroto Public Library </h1>
<div>
  <hr>
  </div>
  <br>

 <h3> Welcome to Toroto Public Library,</h3>

<p class="paragraph">
  Toronto Public Library (TPL) is 
  a public library system in Toronto, Ontario. It is the largest public library system in Canada,
   and in 2008 had averaged a higher circulation per capita than any other public library system internationally,
    making it the largest neighbourhood-based library system in the world. Within North America, 
    it also had the highest circulation and visitors when compared to other large urban systems.
     Established as the library of the Mechanics' Institute in 1830, the Toronto Public Library now consists of 
     100 branch libraries and has over 12 million items in its collection.</p>

<br>
<p>
  The first subscription library service to open in the city was on 9 December 1810, 
  at Elmsley House. During the Burning of York in April 1813, several American officers under 
  Commodore Issac Chauncey's command looted books from the library. Discovering his officers were
   in possession of the stolen books after they returned to Sackets Harbor, Chauncey ordered the looted 
   books returned to York. The stolen books were returned in two crates,
    although by the time they arrived, the library had already closed. The books were auctioned off in 1822
</p>

</div>
</body>

</html>
